@font-face {
    font-family: 'Big John';
    src: url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #efefef;
  height: 100%;
  margin: 0px;
  margin-top: 60px;
  transition-duration: 0.5s;
  font-family: source sans pro;
}
main{
  margin: 0px;
  transition-duration: 0.5s;
  padding: 10px 0px 0px 0px;
}
.flex{
    display: flex;
    width: 100%;
    display: -webkit-flex;
}
.content{
  margin: 3%;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3%;
}
.contentheader{
  font-family: Big John;
  font-size: 36px;
  border-bottom: 1px solid black;
}
.nav{
  background-color: #efefef;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form {
	text-align: left;
	padding: 0px;
	color: #c4c4c4;
}
input.navbutton{
  background-color: #efefef;
  margin-top: -1px;
  font-family: Big John;
  font-size: 20px;
  border: none;
  padding: 14px;
  transition: box-shadow .6s;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input.navbutton:hover{
  color: black;
  font-family: Big John;
  font-size: 20px;
  -webkit-transition: box-shadow .6s; /* Safari */
  transition: box-shadow .6s;
  box-shadow: inset 0 100px 0 0 #ffd34f;
  border: none;
  padding: 14px;
}
input[type=text] {
    width: 98%;
    padding: 6px;
	border: solid #e0e0e0 2px;
	border-radius: 5px;
}
input[type=text]:focus {
    background-color: #faf9f5;
}
input[type=password] {
    width: 98%;
    padding: 6px;
	border: solid #e0e0e0 2px;
	border-radius: 5px;
}
input[type=password]:focus {
    background-color: #faf9f5;
}
input[type=submit] {
	width: 99%;
	border: none;
	background-color: #ffc342;
	padding: 8px;
	margin: 5px;
	color: white;
	font-family: Big John;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=submit]:hover {
	background-color: #ffc342;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: .1s;
}
.card {
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left:16px;
	margin-right:16px;
	margin-top:50px;
	 padding: 16px 40px 16px 40px;
}
.card img {
	margin-top: -50px;
}
div.columns {
  display: table;
  width: 100%;
  table-layout: fixed;
}
div.columns span {
  display: table-cell;
  text-align: center;
}
.category{
  padding-left: 40px;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: .7s;
}
.category:hover{
  background-color: #f7f7f7;
  transition-duration: .7s;
}
.categorytitle{
  margin-top: -20px;
  margin-bottom: 15px;
  font-family: Big John;
  color: #474747;
  transition-duration: .7s;
}
.category p{
  color: #a0a0a0;
  margin: 0px;
}



p{
  font-size: 26;
}

.header{
  font-family: Big John;
  background-color: black;
  position: fixed;
  padding-top: 20px;
  padding-left: 230px;
  margin-left: -200px;
  margin-bottom: 42px;
  margin-top: -60px;
  text-align: left;
  overflow: hidden;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 42px;
  transition-duration: 0.5s;
  z-index: 2;
  border-bottom: 5px solid;
  border-color: #ffc342;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Turn off parallax scrolling for tablets and phones.*/
@media only screen and (max-device-width: 1024px) {
  .content {
    margin: 0px;
  }
}
